streamlit==1.38.0
langchain==0.3.0
langchain-community==0.3.0
langchain-core==0.3.63
faiss-cpu==1.12.0
pypdf==4.3.1
python-docx==1.1.2
openpyxl==3.1.5
python-dotenv==1.0.1
groq==0.11.0
duckduckgo-search==6.3.5
sentence-transformers==2.2.2
transformers==4.36.0
torch==2.2.0
huggingface-hub==0.20.3
rank-bm25==0.2.2
jieba==0.42.1